[Unit]
Description=cif-httpd service

[Service]
Type=simple
User={{ router_user | default(router.user) }}
User={{ router_user | default(router.user) }}
RuntimeDirectory=cif
PIDFile={{ router_runtime_path | default(router.runtime_path) }}/gunicorn.pid

ExecStart={{ router_bin_path | default ('/usr/local/bin') }}/gunicorn -w {{ router_gunicorn_workers | default(4) }} \
  --max-requests-jitter 5 -b {{ router_httpd_listen | default(router.httpd.listen) }}:5000 cif.httpd.app:app --log-level DEBUG \
  --worker-class gevent --preload --max-requests 25 --graceful-timeout 120 --keep-alive 30 --timeout 150 --log-level DEBUG \
  --access-logfile /var/log/gunicorn/access.log --error-logfile /var/log/gunicorn/error.log \
  -p {{ router_runtime_path | default(router.runtime_path) }}/gunicorn.pid

KillMode=process
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=15
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
Nice=0


# https://coreos.com/os/docs/latest/using-environment-variables-in-systemd-units.html
EnvironmentFile=-/etc/cif.env

[Install]
WantedBy=multi-user.target
