{% include './templates/router/defaults.j2' %}

CIF_HTTPD_TOKEN="{{ CIF_HTTPD_TOKEN }}"
CIF_HTTPD_PROXY=0

CIF_STORE_TRACE=1
CIF_ROUTER_TRACE=1
CIF_HUNTER_TRACE=1
CIF_HTTPD_TRACE=1

#CIF_STORE_SQLITE_TRACE=0
