if [ -f /etc/default/cif ] ; then
	. /etc/default/cif
fi

export CIF_RUNTIME_PATH="$CIF_RUNTIME_PATH"
export CIF_DATA_PATH="$CIF_DATA_PATH"

export CIFSDK_HTTP_TRACE=1

export CIF_TOKEN="${CIF_TOKEN}"
