CIF_LOGLEVEL=INFO

CIF_RUNTIME_PATH="{{ router_runtime_path | default(router.runtime_path) }}"
CIF_DATA_PATH="{{ router_data_path | default(router.data_path) }}"
CIF_ROUTER_CONFIG_PATH="{{ router_config_path | default(router.config_path) }}"
CIF_HUNTER_EXCLUDE="{{ router_hunter_exclude | default(router.hunter.exclude) }}"
CIF_HUNTER_THREADS="{{ router_hunter_threads }}"
CIF_GATHERER_THREADS="{{ router_gatherer_threads | default(router.gatherer.threads) }}"
CIF_HUNTER_ADVANCED="{{ router_hunter_advanced | default('0') }}"

CIFSDK_CLIENT_ZEROMQ_FIREBALL_SIZE="{{ router_httpd_fireball_size | default(router.httpd.fireball_size) }}"

CIF_HTTPD_LISTEN="{{ router_httpd_listen | default(router.httpd.listen) }}"

CIF_TOKEN="{{ CIF_TOKEN }}"